<% layout('layouts/boilerplate') %>

  <section style="background-color: rgb(253, 253, 253);">
    <div class="conatiner mb-3">
      <div class="row align-items-center">
        <div class="col-6 mx-auto">
          <div class="card ">
            <h3 class="card-header text-center text-white bg-success">&copy; NGO InterConnect</h3>

            <div class="card-body mx-5">
              <div class="row">
                
                <div class="col-xl-10">
                  <p class="fs-4">Invoice ID</p>
                </div>
                <div class="col-xl-2">
                  <p class="float-end fs-4"><%= invoice.invoice_id%>
                  </p>
                </div>
                <hr>
              </div>
              <div class="row">
                <div class="col-xl-10">
                  <p class="fs-4">Date</p>
                </div>
                <div class="col-xl-2">
                  <p class="float-end fs-6"><%= invoice.pay_date.toString().substring(0,15) %>
                  </p>
                </div>
                <hr>
              </div>
              <div class="row">
                <div class="col-xl-10">
                  <p class="fs-4">User ID</p>
                </div>
                <div class="col-xl-2">
                  <p class="float-end fs-4"><%= invoice.user_id%>
                  </p>
                </div>
                <hr>
              </div>
              <div class="row">
                <div class="col-xl-10">
                  <p class="fs-4">NGO name</p>
                </div>
                <div class="col-xl-2">
                  <p class="float-end fs-4"><%= invoice.ngo_username%>
                  </p>
                </div>
                <hr>
              </div>
              <div class="row text-black">
                <div class="col-xl-10">
                  <p class="fs-4">Amount</p>
                </div>
                <div class="col-xl-2">
                  <p class="float-end fs-4"><%= invoice.amount%>
                  </p>
                </div>
              </div>
            </div>
            <div class="text-center" style="margin-top: 60px;">
              <p class="my-3 mx-5" style="font-size: 30px;">Thank you for donating</p>
            </div>

            <div class="d-grid col-2 my-3 mx-auto">
              <div class="button">
                <a href="/ngo" class="btn btn-success btn-lg ">Confirm</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
